<div class="container">
    <div *ngIf="is_admin">
        <a routerLink="/add_user">Click here to add user</a>
    </div>
    

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Access Level</th>
                <th scope="col">Approved By</th>
            </tr> 
        </thead>
        <tbody>
            <tr *ngFor="let user of userArray">
                <th scope="row" >{{ user.id }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.access_level }}</td>
                <td>{{ user.approved_by }}</td>
            </tr>
        </tbody>
    </table>
</div>
