<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5">
                <div class="form-data">
                    <form [formGroup]="submitForm" (ngSubmit)="addUser()">
                        <div class="forms-inputs mb-4">
                            <span>Name</span>
                            <input type="text" formControlName="name" name="name" placeholder="Enter Name" />
                            <div *ngIf="submitForm.get('name')!.invalid && (submitForm.get('name')!.dirty || submitForm.get('name')!.touched)"
                                class="alert alert-danger">
                                <div *ngIf="submitForm.get('name')!.errors?.['required']">
                                    Name is required.
                                </div>
                            </div>
                        </div>

                        <div class="forms-inputs mb-4">
                            <span>Email</span>
                            <input type="email" formControlName="email" name="email" placeholder="Enter Email" />
                            <div *ngIf="submitForm.get('email')!.invalid && (submitForm.get('email')!.dirty || submitForm.get('email')!.touched)"
                                class="alert alert-danger">
                                <div *ngIf="submitForm.get('email')!.errors?.['required']">
                                    Email is required.
                                </div>
                                <div *ngIf="submitForm.get('email')!.errors?.['email']">
                                    Email format is wrong.
                                </div>
                            </div>
                        </div>

                        <div class="forms-inputs mb-4">
                            <span>Password</span>
                            <input type="password" formControlName="password" name="password"
                                placeholder="Enter Password" />
                            <div *ngIf="submitForm.get('password')!.invalid && (submitForm.get('password')!.dirty || submitForm.get('password')!.touched)"
                                class="alert alert-danger">
                                <div *ngIf="submitForm.get('password')!.errors?.['required']">
                                    Password is required.
                                </div>
                                <div *ngIf="submitForm.get('password')!.errors?.['minlength']">
                                    Password must be at least 4 characters long.
                                </div>
                            </div>
                        </div>

                        <div class="forms-inputs input-group mb-4">
                            <label class="input-group-text">Select Access Level</label>
                            <select formControlName="access_level" class="form-select" aria-label="Default select example">
                                <option value="admin">Admin</option>
                                <option value="customer">Customer</option>
                            </select>
                        </div>

                        <div class="forms-inputs mb-4">
                            <div *ngIf="submitForm.get('access_level')!.invalid && (submitForm.get('access_level')!.dirty || submitForm.get('access_level')!.touched)"
                            class="alert alert-danger">
                            <div *ngIf="submitForm.get('access_level')!.errors?.['required']">
                                Access Level is required.
                            </div>
                        </div>
                        </div>

                        <div class="mb-3">
                            <button class="btn btn-dark w-100" [disabled]="!submitForm.valid">Add User</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>